@charset "UTF-8"

* {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

body {
   background-image: linear-gradient(to right, #7D8DE6, #4E5166, #66634E);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #e8bd7241;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #665D4E;
    text-align: center;
    text-shadow: 1px 1px 2px #4d3f27a2;
}

h2 {
    color: #66634E;
}

p {
    text-align: justify;
}