@charset "UTF-8";

body {
    background-color: #260F99;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #6B695D;
}

h1#principal {
    text-align: center;
    background-color: #0b042c;
    color: white;
}

h2 {
    color: #EBD957;
}
.basico {
color: #e71a1a;
}

.intermediario {
color: #8b0707;
}

.avancado {
color: #1d0000;
}

.destaque {
    color: #ea42ec9d;
}